<%- include("../includes/header.ejs", {title:"Resumes - " + result[0].resume_name}); %>
    <h1>Resume</h1>
    <ul>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>Skill(s):
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                <li><%= skill[i] %></li>
                <% } %>
            </ul>
        </li>

        <li>Company/Companies:
            <ul>
                <% for(var i=0; company.length > i; i++ ) { %>
                <li><%= company[i] %></li>
                <% } %>
            </ul>
        </li>

        <li>School(s):
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i] %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
